<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Default" connectionString="Data Source=.\eremote.db;Version=3;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="API" value="http://127.0.0.1:3000/api/" />
		<add key="LOCALHOST" value="http://127.0.0.1:3000" />

	</appSettings>
</configuration>